<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Default Suite" verbose="1" >
    <test name="Sampletest1" >
        <groups>
            <run>
                <include name="webUI"/>
            </run>
        </groups>
        <classes>
            <class name="tests.testChapter1"/>
        </classes>
    </test>
</suite>